
<% permalink = config.url + config.root + post.path %>
<main class="content" role="main">

  <article class="post">
    <%- partial('post/meta') %>
    <h1 class="post-title"><%- post.title %></h1>
    <span id="busuanzi_container_page_pv" class="readCount">
      阅读量：
    <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span>

    </span>
    <section class="post-content">
      <%- post.content %>
    </section>
    <footer class="post-footer">
      <%- partial('post/author') %>
      <%- partial('post/share') %>
    </footer>
  </article>
  <%- partial('post/navigation') %>
  <%- partial('post/comments') %>

</main>
<script language="JavaScript" type="text/JavaScript">
//运行文本域代码
function runEx(cod1) {
  cod=document.all(cod1)
  var code=cod.value;
  if (code!=""){
    var newwin=window.open('','',''); //打开一个窗口并赋给变量newwin。
    newwin.opener = null // 防止代码对论谈页面修改
    newwin.document.write(code); //向这个打开的窗口中写入代码code，这样就实现了运行代码功能。
    newwin.document.close();
  }
}
</script>